# Compilados
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDEs
## IntelliJ
.idea/
*.iml
out/

## Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Arquivos temporários
*.tmp
*.swp
*.swo
*.bak
*.orig

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos de upload ou cache
upload/*
!upload/.gitkeep
resultados/*
!resultados/.gitkeep
.cache/