/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/08/2019, 02:26:51
    Author     : Diego
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
    font-family: 'Roboto', sans-serif;
}

.navbar-gradient {
    background:linear-gradient(120deg,#7f70f5,#0ea0ff);
    color:#fff
}

.formulario {
    max-width:950px;
    padding:20px;
    padding-bottom:60px;
    padding-top:60px;
    margin:auto;
    margin-bottom: 50px;
    box-shadow:0 2px 10px rgba(0,0,0,.1)
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    background-color: #efefef;
    flex: 0 0 50px;
    margin-top: auto;
}

.btn {
    border-radius: 18px;
}

.loader {
    border: 11px solid #f3f3f3;
    border-radius: 50%;
    border-top: 11px solid blue;
    border-bottom: 11px solid blue;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}