/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/08/2019, 02:26:51
    Author     : Diego
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
    font-family: 'Roboto', sans-serif;
}

.navbar-gradient {
    background:linear-gradient(120deg,#7f70f5,#0ea0ff);
    color:#fff
}

.formulario {
    max-width:950px;
    padding:20px;
    padding-bottom:60px;
    padding-top:60px;
    margin:auto;
    margin-bottom: 50px;
    box-shadow:0 2px 10px rgba(0,0,0,.1)
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    background-color: #efefef;
    flex: 0 0 50px;
    margin-top: auto;
}

.btn {
    border-radius: 18px;
}

.loader,
.loader:before,
.loader:after {
  background: #0ea0ff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
